.body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
s
a {text-decoration: none;
   color: currentColor;}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

/*-----------Header-----------*/

.header {
    background: #FFFFFF;
    letter-spacing: 0.03em;
    border-bottom: 1px solid #E7E9FC;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-blue {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;

}

.nav-list-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    text-transform: uppercase;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus{
     color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-list-item-link {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-transform: uppercase;
    padding: 24px 0;
}

.address-list-item-link:hover,
.address-list-item-link:focus{
     color: #404BBF;
}

/*------------------------*/

.hero {
    padding: 188px 0;
    background-color: #2E2F42;
}

.hero-container {

    padding-top: 72px;
    height: 600px;


}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    height: 120px;
    padding: 260px 472px 220px 472;
    margin: 0 auto;
    margin-bottom: 80px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    display: block;
    margin: 0 auto;
    border: none;
    height: 56px;
    min-width: 169px;

}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.advantages {
padding: 120px 0;
display: flex;  
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip:rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
}

.advantages-title-list {
    display: flex;
    gap: 24px;
}

.advantages-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 264px;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: #434455;
}

.team {
    background: #F4F4FD;
    padding: 120px 0;
}

.team-title-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;;
    padding-top: 120px;
    margin-bottom: 72px;
}

.team-list-item {
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.description {
    padding: 32px 0;
    text-align: center;
}

.portfolio {
    background: #FFFFFF;
    padding: 120px 0;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    /*margin-bottom: 8px;*/
}

.portfolio-list {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    gap: 48px 24px;
  
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
}

.portfolio-list-item {
    /*padding-bottom: 32px;*/
   /* gap: 8px;*/
    flex-basis: calc((100% - 48px) / 3);
    /*border: 1px solid #e7e9fc;*/
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #2E2F42; 
    margin-bottom: 8px;
    /*padding: 0 16px;*/
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /*padding: 0 16px;*/
}


.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}